@font-face {
  font-family: pokemon-title;
  src: url("../../fonts/pokemon-title-solid.ttf") format("truetype");
}

@font-face {
  font-family: pokemon-title;
  src: url("../../fonts/pokemon-title-hollow.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: pokemon-text;
  src: url("../../fonts/pokemon-text.ttf") format("truetype");
}
